@define-color almond_balloon_border #B83;
@define-color user_balloon_border @theme_selected_bg_color; /* or the original #C63 */

.big-label {
    font-size: 4em;
    font-weight: bold;
}

#assistant-chat-listbox {
  background-color: @theme_bg_color;
  padding-top: 12px;
  padding-bottom: 12px;
}

.message-container {
  padding: 0px 12px;
}

.message .balloon {
  color: @theme_fg_color;
  background-color: @text_view_bg;
  background-clip: content-box;
  padding: 0;
  border: none;
  border-radius: 20px;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.2);
}
.message.from-user .balloon {
  border-right: 6px solid @user_balloon_border;
  margin-left: 100px;
}

.message.from-almond .balloon {
  border-left: 6px solid @almond_balloon_border;
  margin-right: 100px;
}

.message .arrow {
  margin-top: 20px;
  border: 0 solid transparent;
  border-right: 0 solid transparent;
  border-left: 15px solid transparent;
  border-top: 10px solid @almond_balloon_border;
  background-color: transparent;
}
.message.from-user .arrow {
  border-left: 0 solid transparent;
  border-right: 15px solid transparent;
  border-top: 10px solid @user_balloon_border;
}

.message .balloon .content {
  background-color: transparent;
  padding: 15px 20px;
}

.app-name {
  font-weight: bold;
}

.device-details-name {
  font-weight: bold;
  font-size: 48px;
}

.device-details-examples-h2 {
  font-weight: bold;
  font-size: 1.5em;
}

.my-stuff-grid-view .device-compound-icon:hover image {
/*  -gtk-icon-filter: brightness(1.2); */
  -gtk-icon-effect: highlight;
}

.device-details-examples row {
  min-height: 36px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 30px;
  padding-right: 30px;
}

.message-container button {
  min-width: 30em;
}
